*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
main{
	width: 920px;
}
header{
	height: 20px;
	width: 100%;
	background-color: #eee;
	
}
#titulo {background-color:#BF0072 }

h1 {color: #FFFFFF
}
.div1 {float: left}
.div2 {float: right; width: 500px ; height: auto}
 